.addmovie {
  position: fixed;
  top: 130px;
  left: 50px;
}
.container-movies {
  background-color: darkgrey !important;
}
.footer {
  position: fixed;
  margin-top: 150px;
  right: 0;
  left: 0;
  bottom: 0;
}
